.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;

  font-size: 16px;
  color: var(--color-font-secondary);
}

.label:hover  {
  color: var(--color-primary);
}

.label__input {
  padding: 4px 12px;

  height: 34px;
  width: 100%;
  border: solid 2px transparent;
  border-radius: 4px;

  color: var(--color-font-primary);
  text-align: start;
  outline: none;
}

.label__input::placeholder {
  color: var(--color-font-secondary);
}

.label__input:hover {
  border-color: var(--color-primary);
}

.label__input:focus {
  border-color: var(--color-black);
}

.label:focus-within {
  color: var(--color-font-primary);
}
