.button {
  padding: 8px 16px;

  border-radius: 4px;
  border: solid 2px transparent;
  
  cursor: pointer;
}

.button:hover {
  opacity: .8;
}

.button_primary {
  color: var(--color-white);
  background-color: var(--color-primary);
}
