* {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

:root {
	--color-primary: #99c1b9;
	--color-secondary: #8e7dbe;
	--color-tertiary: #f2d0a9;
  --color-error: #d88c9a;
	--color-font-primary: #000000;
	--color-font-secondary: #909090;
	--color-background: #ffffff;
	--color-white: #ffffff;
}

html, body {
	height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: var(--color-font-primary);

  background-color: var(--color-background);
}

#root {
	height: 100%;
}